
@media screen and (max-width: 375px) {
    body {
        background-color:yellow !important;
    /* Player Info */
    .player-page {
        .player-logo {
          margin: 0;
        }
        .bottom-section {
          margin-top: .5rem;
          overflow: hidden;
          .player-stats {
            padding: 1rem 0;
            .info-box{
              &.team {
                margin: 1rem .5rem 0 .5rem;
              } 
            }
          }
          .player-footer {
            cursor: pointer;
            img {
                width: 3rem;
            }
          } 
        }
      }
    }
  }