.about-page {
    display: flex;
    height: 100vh;
    flex-direction: column;
    .about-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 45%;
        }
        .active-site {
            display: flex;
            flex-direction: row;
            justify-content: center;
            background: white;
            padding: 0;

            li {
                display: flex;
                justify-content: space-between;
                padding: .5rem;
                margin: .5rem;
                background: black;
                border-radius: 999rem;
            } 
        }
    }
    .about-text {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: white;
        color: black;
        position: absolute;
        z-index: -1;
        left: 0px;
        bottom: 0px;
        padding: 4rem 3rem 4rem 3rem;
    }
}