.addplayer-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .addplayer {
        height: 18vh;
        color: white;
        text-align: center;
        h3 {
            margin: .3rem;
        }
        article {
            position: relative;            
            input {
                width: 90%;
                text-transform: uppercase;
                height: 3.23rem;
                padding: 0 1rem;
                font-family: $font;
            }
            img {
                position: absolute;
                right: 1px;
                top: 1px;
            }
        }
    }
}