.addplayer-page {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .playerlist {
    }

    .addplayer {
        height: 18vh;
        color: white;

        article {
            position: relative;
            
            input {
                width: 90%;
                text-transform: uppercase;
            }
            img {
                position: absolute;
                right: 5px;
            }
        }


    }
}