.admin-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .admin-logo {
        @extend %center;
        flex-direction: column;
        .admin-logout {
            display: flex;
            justify-content: flex-end;
            align-content: flex-end;
            img {
                position: absolute;
                width: 2.3rem;
                right: .3rem;
                top: .5rem;
            }
        }
        img {
            width: 50%;
        }
        h1 {
            color: $color-orange;
        }
    }
    .admin-btn {
        .admin {
            @extend %center;
            flex-direction: row;
            .one-admin-btn {
                display: flex;
                flex-direction: column;
                margin: .2rem;
                border-radius: 10px;
                border: $border-btns;
                padding: 2rem;
                color: white;
                width: 4.5rem;
                img {
                    height: 2.3rem;
                }
                p {
                    display: flex;
                    justify-content: center;
                    margin: .7rem 0 0 0;
                }
            }
        }
    }
}