.calendar-page {
    padding: .5rem 0 1rem 0;
    
    .calendar {
        justify-content: space-evenly;
        align-content: center;
        display: flex;
        flex-direction: row;

        input {
            margin-right: .5rem;
            padding: .3rem 1.5rem;
            font-size: 1rem; 
        }
        select {
            padding: .3rem 1.5rem;
            background: white;
        }
    }
}