.calendar-page {
    padding: .5rem 0 1rem 0;
    display: flex;
    justify-content: center;    
    .calendar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: .063rem 0;
        margin: 0 1rem;
        width: 91vw;
        .date-container {
            display: flex;
            background: rgba(255, 255, 255, .5);
            border-radius: 4px;
            width: 65%;
            height: 2.3rem;
            padding-left: .5rem;
            margin-right: .8rem;
            img {
                width: 1rem;
            }
            input {
                padding: .55rem 0 .55rem .8rem;
                font-size: $font-size-small; 
                box-shadow: none;
                border: none;
                background: none;
            }
            ::placeholder {
                opacity: 1;
                color:black;
            }
        }
        .time-container {
            display: flex;
            background: rgba(255, 255, 255, .5);
            border-radius: 4px;
            width: 26%;
            height: 2.3rem;
            padding-left: .5rem;
            img {
                width: 1rem;
            }       
            select {
                padding: .3rem .8rem;
                font-size: $font-size-small; 
                box-shadow: none;
                height: 2.23rem;
                width: 5.5rem;
                border: none;
                background: none;
            }
        }
    }
}

