.editgroups {
    height: 100vh;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90%;
        .grouplist {    
            text-align: center;
            h3 {
                padding: 1rem;
                margin: 0 0 .3rem 0;
                color: white;
                text-transform: uppercase;
            }
        }
    }
}
.addgroupplayer {
    .list-wrapper {
        display: flex;
        .container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: 1;
          background: white;
          margin-bottom: .3rem;
        }
    }
}