.gamegroup-page {
    section {
        display: flex;
        margin: 1rem 0;

        aside {
            writing-mode: vertical-rl;
            text-orientation: mixed;
            background: orange;
            padding: 1rem;
            flex: 1;
        }

        article {
            flex: 5;
        }
    }
}