.gamegroup-page {
    height: 80vh;
    .container {
        justify-content: center;
        display: flex;
        .grouplist {
            height: 70vh;
            overflow-y: scroll;  
            width: 100vw;      
        }
    }
}