.groups {
    height: 100vh;
    display: flex;
    flex-direction: column;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 85vh;    
        overflow-y: scroll;    
    }
    .orange-btn {
        margin: .5rem 0;
    }
}
.group-component {
    section {
        display: flex;
        flex-direction: row;
        margin: 0 0 1rem 0;
        aside {
            @extend %center;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            padding: .5rem;
            flex: 1;

            p {
                color: white;
                text-transform: uppercase;
            }
        }
        .group-item {
            display: flex;
            flex: 5;
            flex-direction: column;
            margin: 0;
        
        }
    }
}