.groups {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 85%;
        margin-top: 3rem;
        height: 82vh;
        
    }
    .orange-btn {
        margin: .5rem 0;
    }
}


.group-component {
    section {
        display: flex;
        flex-direction: row;
        margin: 1rem 0;
        /* width: 100vw; */

        aside {
            display: flex;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            padding: 1rem;
            flex: 1;
            align-items: center;
            justify-content: center;

            h3 {
                color: white;
                text-transform: uppercase;
            }
        }

        .group-item {
            display: flex;
            flex: 5;
            flex-direction: column;
            margin: 0;
        
        }
    }
}