.home-page {
    display: flex;
    flex-direction: column;

    /* Home Login */
    .home-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 25%;
        }
        h3 {
            text-transform: uppercase;
            color: white;
        }
    
    }
    .home-login {
        display: flex;
        flex-direction: column;
        margin-top: 2.5rem;
        
        .login-btn {
            display: flex;
            align-items: center;
            margin: 1rem 2rem 0 2rem;
            padding: 1rem;
            border: $border-btns;
            border-radius: 10px;
            cursor: pointer;
            
            p {
                margin: 0;
                color: white;
                margin-left: 3rem;
            }
            img {
                width: 2.5rem;
            }
        }
    
    }
    .admin-login {
        display: flex;
        justify-content: center;
        align-content: center;

        .admin-login-btn {
            text-transform: uppercase;
            font-size: 1rem;
            position: fixed;
            bottom: 1rem;
            text-decoration: none;
            color: #EF9859;
            cursor: pointer;
        }
    }

    /* Admin Login */
    .home-admin-login {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        margin-top: 3rem;

        h1 {
            text-transform: uppercase;
        }
        input {
            padding: .5rem 1rem;
            width: 50%;
            text-align: center;
            outline: none;
            border: 0;
        }
        .orange-btn {
            margin-top: 4.5rem;
        }
    }

    /* Add-Name Page */
    .submit-section {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        input {
            background: white;
            align-self: center;
            font-size: 1.5rem;
            padding: .230rem 1.5rem; 
            justify-content: center;
            text-align: center;
            text-transform: uppercase; 
        }
        .team-selection {
            select {                
                background: white;
                align-self: center;
                padding: .3rem 7rem;
                font-size: 1.5rem; 
                text-transform: uppercase;
            }
        }
        .bottom {
            margin-top: 4rem;
        }
    }
}