.home-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Home Login */
    .home-logo {
        flex-direction: column;
        @extend %center;
        img {
            width: 8rem;
            position: relative;
            top: 1rem;
        }    
    }
    .admin-logo {
        flex-direction: column;
        @extend %center;
        img {
            cursor: pointer;
            width: 8rem;
            position: relative;
            top: 3.6rem;
        }    
        h1 {
            color: $color-orange;
            position: relative;
            top: 3rem;
            font-size: $font-size-normal;
        }
    }
    .admin-btn {
        height: 3rem;
        width: 100vw;
        @extend %center;
        margin-bottom: 1rem;
    }
    .home-login {
        display: flex;
        flex-direction: column;
        margin-top: 2.5rem;
        .login-btn {
            display: flex;
            align-items: center;
            margin: 1rem 2rem 0 2rem;
            padding: 1rem;
            border: $border-btns;
            border-radius: 10px;
            cursor: pointer;
            p {
                margin: 0;
                color: white;
                margin-left: 3rem;
            }
            img {
                width: 2.5rem;
            }
        }
    }
    .admin-login {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 2rem;
        .admin-login-btn {
            text-transform: uppercase;
            font-size: $font-size-small;
            text-decoration: none;
            color: $color-orange;
            cursor: pointer;
            margin-bottom: 1rem;
        }
    }
    /* Admin Login */
    .home-admin-login {
        @extend %center;
        flex-direction: column;
        color: white;
        margin-top: 3rem;
        h1 {
            text-transform: uppercase;
        }
        input {
            padding: .5rem 1rem;
            width: 60%;
            text-align: center;
            outline: none;
            border: 0;
            border-radius: 4px;
            font-size: $font-size-normal;
        }
    }
    /* Add-Name Page */
    .submit-section {
        flex-direction: column;
        margin-top: 3rem;
        @extend %center;
        input {
            border-radius: 4px;
            margin-bottom: .5rem;
            background: white;
            align-self: center;
            font-size: $font-size-normal;
            width: 90vw;
            height: 2rem;
            justify-content: center;
            text-align: center;
            text-transform: uppercase; 
        }
        .team-selection {
            select {     
                border-radius: 4px;
                text-align-last: center;
                background: white;
                align-self: center;
                width: 91vw;
                height: 2.23rem;
                font-size: $font-size-normal; 
                text-transform: uppercase;
                text-align: -webkit-center;
            }
        }
        .bottom {
            margin-top: 2rem;
        }
    }
}