.player-page {
    display: flex;
    flex-direction: column;

    .player-logo {
        @extend %center;
        height: 50%;
        flex-direction: column;
        margin-bottom: 1rem;

        img {
            width: 100px;
            height: 100px;
            border-radius: 999rem;
        }
        .active-site {
            display: flex;
            flex-direction: row;
            justify-content: center;
            background: white;
            padding: 0;

            li {
                display: flex;
                justify-content: space-between;
                padding: .5rem;
                margin: .5rem;
                background: black;
                border-radius: 999rem;
            } 
        }
    }
    .player-stats {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: flex-end;
        background: white;
        padding-top: 2rem;    

        .box-container {
            display: flex;
            flex-direction: row;            
        } 
        .info-box {
            @extend %center;
            flex-direction: column;
            flex: 1;
            font-weight: bold;
            font-size: 1rem;
            .username-text {
                font-size: 1.5rem;   
            }
            .text {
                border: 1px solid green;
                border-radius: 5px;
                padding: .3rem 1rem;
            }
            .point {
                color: #EF9859;
                font-size: 4rem;
                
            }
            .number {
                font-size: 3rem;
            }
            &.team {
                align-self: center;
                padding: .3rem 7rem;
                font-size: 1.5rem; 
                margin: 2rem .5rem 1rem .5rem;
                text-transform: uppercase;
            }
        }
    }
    .player-footer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        cursor: pointer;
        img {
            width: 3rem;
        }
    } 
}