.stats-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .navigation {
        display: flex;
        flex-direction: column;
        
        .active-site {
            display: flex;
            flex-direction: row;
            justify-content: center;
            background: white;
            padding: 0;
    
            li {
                display: flex;
                justify-content: space-between;
                padding: .5rem;
                margin: .5rem;
                background: black;
                border-radius: 999rem;
            } 
        }
        .team-selection {
            select {                
                background: rgba(255, 255, 255, .5);
                border-radius: 4px;
                align-self: center;
                padding: .3rem 7rem;
                font-size: 1.5rem; 
                text-transform: uppercase;
                border: none;
                text-align-last: center; /*centrerar det valda alternativet i select*/

            }
        }
    }

    .router-content {
        flex: 7;
        overflow-y: scroll;
    }

    .stats-navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 1;
        justify-self: flex-end;
        
        img {
            width: 2.5rem;
        }
    }
}