.stats-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .navigation {
        display: flex;
        flex-direction: column;
        
        .active-site {
            display: flex;
            flex-direction: row;
            justify-content: center;
            background: white;
            padding: 0;
    
            li {
                display: flex;
                justify-content: space-between;
                padding: .5rem;
                margin: .5rem;
                background: black;
                border-radius: 999rem;
            } 
        }
        .team-selection {
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, .5);
            border-radius: 4px;
            margin: 0 1rem;

            select {      
                width: 91rem;  
                height: 2.23rem;        
                font-size: $font-size-large; 
                text-transform: uppercase;
                border: none;
                padding: 0 .5rem;
                text-align-last: center; /*centrerar det vald6a alternativet i select*/
                background: url("./assets/icon/arrow-down.svg") left no-repeat;
                background-size: 1rem;
                background-position-x: .5rem;
            }
        }
    }

    .router-content {
        flex: 7;
        overflow-y: scroll;
    }

    .stats-navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 1;
        justify-self: flex-end;
        z-index: 10;
        background-color: black;
        
        img {
            width: 2.5rem;
        }
    }
}