.superadmin-page {
    overflow: hidden;
    .input-section {
        @extend %center;
        flex-direction: column;
        width: 100vw;
        section {
            display: flex;
            flex-direction: column; 
            background: white;
            padding: 1rem;
            margin: 2rem 0;
            border: 1px solid black;
            border-radius: 5px;
            input {
                padding: .55rem 1.5rem;
                font-size: $font-size-small; 
                border: 1px solid black;
            }
            select {
                padding: .55rem 1.5rem;
                font-size: $font-size-small; 
                border: 1px solid black;
            }
            select:focus, input:focus{
                outline: none;
            }
            a {
                text-decoration: none;
                color: red;
                cursor: pointer;
            }
        }
    }
}