/* Pop-ups */
.swal-modal {
  justify-content: center;
  align-items: center;

  .swal-text {
    text-align: center;
  }

  .swal-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    .swal-button--confirm {
        width: 8rem;
        height: 3rem;
        padding: .5rem 1.5rem;
        border-radius: 2px;
        background-color: #f26522;
        font-size: 1rem;
    }
    
    .swal-button--cancel {
        width: 8rem;
        height: 3rem;
        padding: .5rem 1.5rem;
        border-radius: 2px;
        background-color: #888;
        font-size: 1rem;
        color: white;
    }
  }
}

/* Section knapp, bottnen på sidan */
.btn {
  text-align: center;
  a {
      padding: .3rem;
      border-radius: 999rem;
      color: white;
      background: green;
      text-decoration: none;
  }
}

/* Search bar */
.search-bar {
  display: flex;
  flex-direction: column;
  margin: .5rem .5rem;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 3px;

  input {
      border: none;
      padding: 0.3rem 3rem;
      color: black;
      font-size: $font-size-normal;
      text-transform: uppercase;
      background: url("./assets/icon/search.svg") left no-repeat;
      background-size: 5%;
      background-position-x: .5rem;
      height: 2.23rem;
      font-family: $font;
  }
  ::placeholder {
    opacity: 1;
    color:black;
  }
}