body {
  
    .btn {
      padding: .5rem;
      text-decoration: none;
      color: black;
      margin: 1rem;
      border: 1px solid black;
  
      &:hover {
        color: rgb(209, 21, 21);
      }
    }
  
      /* Denna skall ändras till Content men för att få den att se ut som mockup, görs den extra */
      .aboutContent {
        background: darkred;
        color: white;
        padding: 5rem 0;
        border: 2px solid white;
      }
      
      .content {
        background: white;
        a {
          text-decoration: none;
          color: black;
          border: 1px solid black;
          border-radius: 10px;
          padding: .5rem .8rem;
          margin: 1rem;
          font-weight: bold;
          background: white;
          
        }
      }
    }
    
    /* Denna skall ändras till Content men för att få den att se ut som mockup, görs den extra */
    .aboutContent {
      background: darkred;
      color: white;
      padding: 5rem 0;
      border: 2px solid white;
    }
    .content {
      background: white;
      a {
        text-decoration: none;
        color: black;
        border: 1px solid black;
        border-radius: 25%;
        padding: .5rem .8rem;
        margin: 1rem;
        font-weight: bold;
        &:hover {
          background: red;
        }
      }
      div {
        display: grid;
        justify-content: center;
        align-items: center;
        background: yellow;
      }
    } 
    .schema {
      @extend %layout;
      background: white;
      color: red;  
            
      p {
        padding: 2rem;
        border: 1px solid red;
        margin: .2rem;
      }
    }
  
  
  /* Detta försvinner med tiden */
  #app {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
    }
    #nav {
      padding: 30px;
      a {
        font-weight: bold;
        color: #2c3e50;
        &.router-link-exact-active {
          color: #42b983;
        }
      }
    }
  
    .main {
      border: 1px solid black;
      border-radius: 5px;
    
      .list-wrapper {
        display: flex;
        border-bottom: 1px solid gray;
        padding: .5rem;
        .container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: 1;
          h3 {
            text-transform: uppercase;
            margin: 0;
            font-size: 1.2rem;
          }
          .score {
            display: flex;
            flex-direction: row;
            #win {
              margin-right: 1.5rem;
            }
          }
        }
        #date {
          box-sizing: border-box;
          padding: 10px 5px 15px 5px;
          margin-right: 2rem;
          text-align: center;
          font-size: 3rem;
          width: 70px;
          height: 60px;
        }
      }
    }





/* Search bar */
.search-bar {
    display: flex;
    flex-direction: column;
    margin: .5rem .5rem;

    input {
        border: none;
        border-radius: 3px;
        padding: 1rem;
        color: black;
        font-size: 1.2rem;
        background: rgba(255, 255, 255, .5);
        text-transform: uppercase;
    }
}


/* Section knapp, bottnen på sidan */
.btn {
    text-align: center;
    a {
        padding: .3rem;
        border-radius: 999rem;
        color: white;
        background: green;
        text-decoration: none;
    }
}

.nav-between {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 3.4rem;
    height: 3.4rem;
    margin-right: .8rem;
  }
}

.nav-right {
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  img {
    width: 3.4rem;
    height: 3.4rem;
    margin-right: .8rem;
  }
}  

.nav-left {
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 3.4rem;
    height: 3.4rem;
    margin-right: .8rem;
  }
}  

.nav-middle {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 3.4rem;
    height: 3.4rem;
    margin-right: .8rem;
  }
  
}  