/* Importering av SCSS */

/* Components */
@import 'components/burger';
@import 'components/buttons';
@import 'components/list';
@import 'components/navigation';
@import 'components/variables';

/* Layouts */
@import 'layouts/responsive';

/* Pages */
@import 'pages/login';
@import 'pages/home';
@import 'pages/about';
@import 'pages/playerinfo';
@import 'pages/stats';
@import 'pages/admin';
@import 'pages/calendar';
@import 'pages/highscore';
@import 'pages/superadmin';
@import 'pages/addplayer';
@import 'pages/editplayer';
@import 'pages/gameschedule';
@import 'pages/schedules';
@import 'pages/makegames';
@import 'pages/editgroups';
@import 'pages/groups';
@import 'pages/makegroups';
@import 'pages/gamegroup';
@import 'pages/player';
@import 'pages/goalboard';

/* CSS grunder */
body {
    background: url("./assets/img/bakgrund.jpg");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    font-family: $font;
    justify-content: center;
    align-content: center;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
}