@charset "UTF-8";
/* Importering */
body, body .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.schema {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1, 2fr)[2];
      grid-template-columns: repeat(2, 1, 2fr);
      grid-template-areas: 'team team';
}

body {
  background: grey;
  /* Denna skall ändras till Content men för att få den att se ut som mockup, görs den extra */
}

body .btn {
  padding: .5rem;
  text-decoration: none;
  color: black;
  margin: 1rem;
  border: 1px solid black;
}

body .btn:hover {
  color: #d11515;
}

body .logo {
  background: darkcyan;
}

body .navigation {
  background: white;
}

body .aboutContent {
  background: darkred;
  color: white;
  padding: 5rem 0;
  border: 2px solid white;
}

body .content {
  background: white;
}

body .content a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  padding: .5rem .8rem;
  margin: 1rem;
  font-weight: bold;
  background: white;
}

/* Denna skall ändras till Content men för att få den att se ut som mockup, görs den extra */
.aboutContent {
  background: darkred;
  color: white;
  padding: 5rem 0;
  border: 2px solid white;
}

.content {
  background: white;
}

.content a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 25%;
  padding: .5rem .8rem;
  margin: 1rem;
  font-weight: bold;
}

.content a:hover {
  background: red;
}

.content div {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: yellow;
}

.schema {
  background: white;
  color: red;
}

.schema p {
  padding: 2rem;
  border: 1px solid red;
  margin: .2rem;
}

/* Detta försvinner med tiden */
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.main {
  border: 1px solid black;
  border-radius: 5px;
}

.main .list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid gray;
  padding: .5rem;
}

.main .list-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main .list-wrapper .container h3 {
  text-transform: uppercase;
  margin: 0;
  font-size: 1.2rem;
}

.main .list-wrapper .container .score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .list-wrapper .container .score #win {
  margin-right: 1.5rem;
}

.main .list-wrapper #date {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 5px 15px 5px;
  margin-right: 2rem;
  text-align: center;
  font-size: 3rem;
  width: 70px;
  height: 60px;
}
/*# sourceMappingURL=main.css.map */