@media screen and (min-width: 1300px) {
  body {
    background-color:black !important;
    .player-page {
      .player-logo {
        .crown {
          width: 10rem;
          top: 2rem;
          position: relative;
        }
        .user-img {
          width: 10rem;
        }
      }
    }
    .gamegroup-page {
      .container {
        .grouplist {
          width: 50vw;
        }
      }
    }
    .highscore-page {
      .highscore-header {
        width: 50vw;
        select {
          width: 50vw;
        }
      }
      .container {
        width: 50vw;
      }
    }
    .stats-page {
      .navigation {
        .team-selection {
          width: 50vw;
        }
      }
    }
    .calendar-page {
      .calendar {
        width: 50vw;
      }
    }
    .player-list {
      width: 50vw;
    }
    .game-component {
      article {
        height: 9rem;
        width: 9rem;
        .group {
          height: 8rem;
          width: 8rem;
        }
      }
      .line {
        hr {
          width: 100px;
        }
      }
    }
    .addplayer-page {
      .addplayer {
        article {
          input {
            width: 50vw;
          }
        }
      }
    }
    .makegroups {
      .container {
        .playerlist {
          max-height: 82vh;
        }
      }
    }
    .about-page {
      .about-logo {
        img {
          width: 25rem;
        }
      }
    }
    .about-text {
      .text {
        width:50vw;
      }
    }
    .admin-page {
      .admin-logo {
        img {
          width: 15%;
        }
      }
      .admin-btn {
        .admin {
          .one-admin-btn {
            padding: 3rem;
            width: 9.5rem;
          }
        }
      } 
    }
    .search-bar {
      width: 50vw;
    }
    .player-page {
      .player-list {
        height: 84vh;
        width: 50vw;
      }
    }
    .about-page {
      .about-logo {
        img {
            width: 20rem;
            margin-top: 5rem;
        }
      }
    }
    .home-page {
      .home-admin-login {
        input {
          width: 20vw;
        }
      }
      .home-login {
        margin-top: 6rem;
        align-items: center;
        .login-btn {
          width: 35vw;
        }
      }
      .home-logo {        
        img {
            width: 15rem;
            position: relative;
        }    
      }
      .admin-logo {    
        margin-bottom: 2rem;    
        img {
            width: 10rem;
            position: relative;
            top: 3.6rem;
        }   
        h1 {
            color: $color-orange;
            position: relative;
            top: 3rem;
            font-size: $font-size-normal;
        } 
      }
    }
  }
}