@media screen and (min-width: 321px) and (max-width: 348px) {
    body {
      background-color: black !important;
      
      /* Highscore */
      .highscore-page {
        height: 74vh;
        .container {
          height: 66vh;
        }
      }
      /* About */ 
      .about-page .about-logo img {
        width: 38%;
      }
      .about-page .about-text {
        padding: 0 1rem;
      }
      /* Home */
      .home-page {
        .home-logo {
          img {
            width: 40%;
          }
        }
        .home-admin-login {
          margin-top: 0;
          .orange-btn {
            margin-top: 0;
          }
        }
      }
      

      /* Schedules & Goalboard */
      .schedules-page .container {
        height: 76vh;
      }
      .group-component {
        section {
          aside {
            padding: 0;
          }
          .group-item {
            .list-item-group {
              overflow-y: scroll;
            }
            section {
              display: flex;
              flex-direction: column;
              span {
                margin-left: 1rem;
                
              }
              section {
                display: flex;
                flex-direction: row
              }
            } 
          }
        }
      }
      /* Groups */
      .groups .container{
        margin-top: 0;
        overflow: hidden;
        overflow-y: scroll;
      }
      /* Make Groups */
      .makegroups .container {
        height: 86vh;
        overflow: hidden;
        overflow-y: scroll;
      }
      /* Make Games */
      .makegames-page section .btn-container .setup-btn div {
        width: 4rem;
        height: 4rem;
      }
      /* Players */
      .player-list {
        max-height: 76vh;
      }
      /* Admin Page */
      .admin-page {
        height: 90vh;
        .admin-logo {
          h1 {
            font-size: 1rem; 
          }
          img {
            width: 32%;
          }
        }
        .admin-btn {
          .admin {
            .one-admin-btn {
              padding: 2rem;
              img {
                margin: 0;
              }
              span {
                font-size: .9rem;
              }
            }
          }
        }
      }
      /* Player Info */
      .player-page {
        height: 100vh;
        .bottom-section {
          margin-top: -2.5rem;
          overflow: hidden;
          padding-bottom: 1.5rem;
          .player-stats {
            margin: 0 0 1rem 0;
            .box-container {
              margin-top: 0;
            }
            .info-box{
              &.team {
                padding: .3rem 4rem;
                margin: 1rem .5rem 0 .5rem;
              } 
            }
          }
          .player-footer {
            position: absolute;
            right: .5rem;
            top: .5rem;
            justify-content: flex-start;
            align-items: flex-start;
            cursor: pointer;
          } 
        }
      }
    }
  }