@media screen and (max-width: 639px) {
    body {
        background-color:black !important;
        .makegames-page section .btn-container .setup-btn div {
            width: 3rem;
            height: 4rem;
        }
    }
  }