@media screen and (max-width: 639px) {
    body {
        background-color:black !important;
        .makegames-page section .btn-container .setup-btn div {
            width: 3rem;
            height: 4rem;
        }
    }
  }

/* iphone 5 */
@media screen and (max-height: 570px) {
    body {
        .player-page {
            .player-logo {
                .crown {
                    width: 0rem;
                    top: .5rem;
                    position: relative;
                    visibility: hidden;
                }
                .user-img {
                    width: 5rem;
                }
            }
        }
        .about-page {
            .about-logo {
                img {
                    width: 5rem;
                }
            }
            .about-text {
                .text {
                    padding: 1rem 1rem;
                }
            }
        }       
    }
}
@media screen and (min-height: 650px) and (max-height: 670px) {
    body {
        .player-page {
            .player-logo {
                .crown {
                    width: 6.5rem;
                    top: .9rem;
                    position: relative;
                }
                .user-img {
                    width: 6.5rem;
                }
            }
        }
    }
}
/* iphone x */
@media screen and (min-height: 670px) and (max-height: 820px) {
    body {
        .player-page {
            .player-logo {
                .crown {
                    width: 8rem;
                    top: .9rem;
                    position: relative;
                }
                .user-img {
                    width: 8rem;
                }
            }
        }
        .about-page {
            .about-logo {
                img {
                    width: 9rem;
                    margin-top: 2rem;
                }
            }
        } 
        .home-page {
            .home-login {
                margin-top: 6rem;
            }
            .home-logo {        
                img {
                    width: 10rem;
                    position: relative;
                    top: 1rem;
                }    
            }
            .admin-logo {    
                margin-bottom: 2rem;    
                img {
                    width: 10rem;
                    position: relative;
                    top: 3.6rem;
                }   
                h1 {
                    color: $color-orange;
                    position: relative;
                    top: 3rem;
                    font-size: $font-size-normal;
                } 
            }
        }
    }
}