/*  Måste fixa Loggan*/
@media screen and (max-width:640px) {
  body {
    background-color:black !important;

    .editplayer-page .editplayer-input-field {
      margin: 0;
    }
    .editplayer-page .editplayer-bottom 
      .edit-player-btn2 {
        p {
          margin: .2rem 0;
          text-align: center;
        }
        .orange-btn {
          bottom: -.5rem;
        }
    }
      .edit-player-btn1 {
        margin: 2rem 0 0 0;
    }

    /* About */ 
    .about-page .about-logo img {
      width: 39%;
    }
    .about-page .about-text {
      padding: 0;
    }
    /* Home */
    .home-page .home-logo img {
      width: 45%;
    }
    .home-page .home-admin-login {
      margin-top: 0;
      .orange-btn {
        margin-top: 0;
      }
    }
    /* Schedules & Goalboard */
    .schedules-page .container {
      height: 76vh;
    }
    .group-component {
      section {
        aside {
          padding: 0;
        }
        .group-item {
          .list-item-group {
            overflow-y: scroll;
          }
          section {
            display: flex;
            flex-direction: column;
            span {
              margin-left: 1rem;
              
            }
            section {
              display: flex;
              flex-direction: row
            }
          } 
        }
      }
    }
    /* Groups */
    .groups .container{
      margin-top: 0;
      overflow: hidden;
      overflow-y: scroll;
      height: 87vh;
    }
    /* Make Groups */
    .makegroups .container {
      height: 87vh;
      overflow: hidden;
      overflow-y: scroll;
      .playerlist {
        max-height: 87vh;
      }
    }
    /* Make Games */
    .makegames-page section .btn-container .setup-btn div {
      width: 3rem;
      height: 4rem;
    }
    /* Player Info */
    .player-page {
      .bottom-section {
        margin-top: -2rem;
        padding-bottom: 1.5rem;
        overflow: hidden;
        .player-stats {
          padding-top: 0;
          padding: .85rem 0 .6rem 0;
          .box-container {
            margin-top: 0;
          }
          .info-box{
            &.team {
              padding: .3rem 4rem;
              margin: 1rem .5rem 0 .5rem;
            } 
          }
        }
        .player-footer {
          position: absolute;
          right: .5rem;
          top: .5rem;
          justify-content: flex-start;
          align-items: flex-start;
          cursor: pointer;
        } 
      }
    }
    /* Highscore */
    .highscore-page {
      .container {
        height: 73vh;
      }
      .highscore-list {
        .score {
          grid-column-gap: .5rem;
          grid-template-columns: 1fr 2fr 2fr;
        }
      }
    }


    /* Add-Player */
    .addplayer-page {
      .addplayer {
        height: 21vh;
      }
    }
    /* Players */
    .player-list {
      max-height: 76vh;
    }
    /* Admin Page */
    .admin-page {
      .admin-logo {
        h1 {
          font-size: 1rem; 
        }
        img {
          width: 35%;
        }
      }
      .admin-btn {
        .admin {
          .one-admin-btn {
            padding: 1.9rem;
            img {
              margin: 0;
            }
            span {
              font-size: .9rem;
            }
          }
        }
      }
    }
  }
}