@media screen and (min-width: 640px) {
  body {
    .gamegroup-page {
      .container {
        .grouplist {
          width: 73vw;
        }
      }
    }
    .highscore-page {
      .highscore-header {
        width: 73vw;
        select {
          width: 73vw;
        }
      }
      .container {
        width: 73vw;
      }
    }
    .stats-page {
      .navigation {
        .team-selection {
          width: 73vw;
        }
      }
    }
    .calendar-page {
      .calendar {
        width: 73vw;
      }
    }
    .game-component {
      article {
        height: 9rem;
        width: 9rem;
        .group {
          height: 8rem;
          width: 8rem;
        }
      }
      .line {
        hr {
          width: 100px;
        }
      }
    }
    .makegroups {
      .container {
        .playerlist {
          max-height: 82vh;
        }
      }
    }
    .player-list {
      height: 84vh;
      width: 75vw;
    }
    .about-page {
      .about-logo {
        img {
          width: 20rem;
        }
      }
    }
    .about-text {
      .text {
        width:50vw;
      }
    }
    .admin-page {
      .admin-logo {
        img {
          width: 35%;
        }
      }
      .admin-btn {
        .admin {
          .one-admin-btn {
            padding: 3rem;
            width: 9.5rem;
          }
        }
      } 
    }
    .search-bar {
      width: 75vw;
    }
    .player-page {
      .player-list {
        height: 84vh;
        width: 75vw;
      }
    }
    .addplayer-page {
      .addplayer {
        article {
          input {
            width: 75vw;
          }
        }
      }
    }
    .editplayer-page {
      display: flex;
      flex-direction: column;
      
      align-items: center;

      .editplayer-input-field {
        width: 50vw;
        .input-field-top section input {
          width: 15vw;
        }
        .input-field-middle section input {
          width: 15vw;
        }
        .input-field-bottom section input {
          width: 15vw;
        }
      }
      .editplayer-bottom {
        .edit-player-btn2 {
          .editplayer-list {
            .editplayer-player {
              span {
                width: 50vw;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-height: 1000px) { 
  body {
    .player-page {
      .player-logo {
        .crown {
          width: 10rem;
          top: 1rem;
          position: relative;
        }
        .user-img {
          width: 10rem;
        }
      }
    }
    .home-page {
      .home-login {
        margin-top: 6rem;
      }
      .home-logo {        
        img {
            width: 20rem;
            position: relative;
            top: 1rem;
        }    
      }
      .admin-logo {    
        margin-bottom: 2rem;    
        img {
            width: 10rem;
            position: relative;
            top: 3.6rem;
        }   
        h1 {
            color: $color-orange;
            position: relative;
            top: 3rem;
            font-size: $font-size-normal;
        } 
      }
    } 
  }
}
@media screen and (min-height: 1300px) { 
  body {
    .player-page {
      .player-logo {
        .crown {
          width: 25rem;
          top: 5rem;
          position: relative;
        }
        .user-img {
          width: 25rem;
        }
      }
    }
    .about-page {
      .about-logo {
        img {
            width: 25rem;
            margin-top: 5rem;
        }
      }
    }
    .home-page {
      .home-login {
        margin-top: 6rem;
      }
      .home-logo {        
        img {
            width: 25rem;
            position: relative;
            margin-top: 5rem;
        }    
      }
      .admin-logo {    
        margin-bottom: 2rem;    
        img {
            width: 10rem;
            position: relative;
            top: 3.6rem;
        }   
        h1 {
            color: $color-orange;
            position: relative;
            top: 3rem;
            font-size: $font-size-normal;
        } 
      }
    }
  }
}