@media screen and (min-width: 640px) {
  body {
    .gamegroup-page {
      .container {
        .grouplist {
          width: 73vw;
        }
      }
    }
    .highscore-page {
      .highscore-header {
        select {
          width: 73vw;
        }
      }
      .container {
        width: 73vw;
      }
    }
    .stats-page {
      .navigation {
        .team-selection {
          width: 73vw;
        }
      }
    }
    .calendar-page {
      .calendar {
        width: 73vw;
      }
    }
    .game-component {
      article {
        height: 9rem;
        width: 9rem;
        .group {
          height: 8rem;
          width: 8rem;
        }
      }
      .line {
        hr {
          width: 100px;
        }
      }
    }
    .makegroups {
      .container {
        .playerlist {
          max-height: 82vh;
        }
      }
    }
    .player-list {
      height: 84vh;
    }
    .about-page {
      .about-logo {
        img {
          width: 35%;
        }
      }
    }
    .about-text {
      margin-bottom: 3rem;
      padding: 3rem 3rem;
    }
    .admin-page {
      .admin-logo {
        img {
          width: 35%;
        }
      }
      .admin-btn {
        .admin {
          .one-admin-btn {
            padding: 3rem;
            width: 9.5rem;
          }
        }
      } 
    }
  }
}